header{
    background-color:antiquewhite;
    height: 70px;
   
    display:flex;
    align-items: center;
    justify-content: space-around;
    
    

}
.logo{
    font-size:40px;
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: space-between;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    flex:1;
    
  
}

.header-right{
  display: flex;
  font-size:20px;
   
    
}
header div a{
    padding: 0px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    flex:1;
}

.intro p{
    font-size: large;
    font-style:italic;
}
.intro{

    
    margin-top:5%;
    width: 30%;
    
   
   
}
 main{
    display: flex;
    align-items: center;
    justify-content: space-around;
        background-color: antiquewhite;
    
 }   

.intro h1{
    font-size: 50px;
    margin-bottom:20px ;

}
.intro a{
    text-decoration: none;
    padding: 10px 18px;
    
    color: white;
    margin: 30px 0px;
    border-radius: 5px;
    font-size: 20px;
    

}

span{
    color:pink;
}




    
    
    

 

.image img{
    max-width: 550px;
    max-height: auto;
    border-radius: 370px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);


    
}
.middle1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.middle1 li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
.no p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.middle1 img{
    width:10%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    
}
.quote{
    background-color: grey;
    padding: 60px;
    margin: auto;
    font-style: italic;
    color:white;
}

.name{
    margin-left: 80%;
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: antiquewhite;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
    border-radius: 10px; 
    flex-direction: column;
  
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.signup a{
    text-decoration: none;
    padding: 10px 18px;
    background-color: pink;
    color: white;
    margin: 30px 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    flex:1;
}
    


